*{
    box-sizing: border-box;
}



.Productosdisponibles{
    text-align: center;
    font-size: 5vh;
    color: #73C6B6;;
    background-color: #121212;
    padding: 15px 10px 10px 10px;

}

.Fondo{
    background-color: #121212;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    padding:10px 0px 10px 0px;
    height: 750px;

    .contenedorcard{
        
                
    .card {
        background-color: white;
        padding: 5px 10px 5px 10px;
        margin: 5px 5px 0px 5px;
        height: 320px;

        .nombre{
            width: 200px;
            overflow: hidden;
        }

        p{
            font-weight: 400;
            padding-bottom: 10px;
     
        }
      
       
        .fotos{
            width: 200px;
            height: 200px;
        }
    
       
    }

    .Linkadetalle{
        background-color: black;
        border-radius: 3px ;
        padding: 5px 5px 5px 5px;
        margin-top: 20px;
        color: white;
        text-decoration: none;
    }
           
    }
    
    
}
