*{
    box-sizing: border-box;
}


.clasecontador{

    button.contador{
        background-color: #121212;
        border: 0px;
        font-size: 18px;
        padding: 5px 10px 5px 10px;
        border-radius: 10px;
        cursor: pointer;
        margin: 5px 5px 5px 3px;
        color: white;
    }

}

.añadiralcarrito{
    width: 220px;
    height: 30px;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    border-style: none;
    outline: 0;
    cursor: pointer;
    font-size: 18px;
    font-weight: 100;
    background:#ffcd00;

    box-shadow: 5px -5px #2a2a2a;
    transition:  all 400ms ease ease-out;
}

.añadiralcarrito:hover{
    box-shadow: -5px 5px #ffcd00;
    background: #2a2a2a;
    color: #ffcd00;
}

